<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>{{ title }}</h1>
        <form method="POST" >
            <p>Name:<br /><input type="text" name="name" placeholder="Name" required /></p>
            <p>Email:<br /><input type="email" name="email" placeholder="Email" required /></p>
            <p>Feedback:<br /><textarea name="feedback" required></textarea></p>
            <p><button type="submit">Send</button></p>
        </form>
    </body>
</html>